<!doctype html>
<html>

<head>

    <head>
        <meta charset="utf-8">
        <title>Student Information System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>
        <link href="/static/css/custom.css" rel="stylesheet">
        <script src="/static/js/respond.js"></script>



        <!--Navigation -->
        <div class="row">
            <nav class="navbar navbar-default templatemo-nav navbar-fixed-top" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="glyphicon glyphicon-arrow-down"></span>
                            MENU
					</button>
                        <a href="index.html" class="navbar-brand">Student Information System</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="/">Create Student</a></li>
                            <li class="active"><a href="../List">List Student</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>

        <!--Navigation End-->


        <!-- Register Form -->
        <div class="container" style="padding: 70px;">

        <div>
        <h2>
    <% data.forEach(function(item, index){ %>
        <tr>
        Please Re-input Data For:
        <td><%= item.firstName %></td>
        <td><%= item.lastName %></td></br>
        </br>
        </tr>
    </h2>
</div>
 

            <div class="col-md-6">
    <form action="../edit/<%= item.studentID %>" method="POST"> <% }); %>
                    <div class="form-group">
                        <label> First Name*</label>
                        <input type="text" name="firstname" class="form-control" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label>Middle Name</label>
                        <input type="text" name="middlename" class="form-control" placeholder="Middle Name">
                    </div>
                    <div class="form-group">
                        <label>Last Name*</label>
                        <input type="text" name="lastname" class="form-control" placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label>Sex</label>
                        <select name="sex" class="form-control">
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
                    </div>
                     <div class="form-group">
                        <label>Age*</label>
                        <input type="text" name="age" class="form-control" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label>Class*</label>
                        <input type="text" name="class" class="form-control" placeholder="Class">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>









        <!-- javascript -->
        <script src="/static/js/jquery.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        </body>

</html>